@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* font-family: "Oswald", sans-serif; */
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movingBackground {
    background: linear-gradient(135deg, #465bdc, #341729, #652520);
    background-size: 600% 600%;

    -webkit-animation: backgroundAnimation 59s ease infinite;
    -moz-animation: backgroundAnimation 59s ease infinite;
    animation: backgroundAnimation 59s ease infinite;
}

@-webkit-keyframes backgroundAnimation {
    0% {
        background-position: 0% 5%;
    }
    50% {
        background-position: 100% 96%;
    }
    100% {
        background-position: 0% 5%;
    }
}
@-moz-keyframes backgroundAnimation {
    0% {
        background-position: 0% 5%;
    }
    50% {
        background-position: 100% 96%;
    }
    100% {
        background-position: 0% 5%;
    }
}
@keyframes backgroundAnimation {
    0% {
        background-position: 0% 5%;
    }
    50% {
        background-position: 100% 96%;
    }
    100% {
        background-position: 0% 5%;
    }
}

.sec-2-bg-gradient {
    position: absolute;
    width: 398px;
    height: 398px;
    left: 217px;
    top: 457px;
    background: linear-gradient(
        236.22deg,
        #ff3c47 -3.32%,
        #bcee50 15.86%,
        #32e2ed 73.4%
    );
    filter: blur(212px);
}
.sec-2-p-e-1 {
    width: 78px;
    right: -40px;
    top: 0;
    position: absolute;
}
.sec-2-p-e-2 {
    width: 93px;
    top: 375px;
    left: -50px;
    position: absolute;
    filter: blur(3.5px);
}

/* sm */
@media screen and (min-width: 640px) {
}

/* md */
@media screen and (min-width: 768px) {
    .sec-2-bg-gradient {
        width: 1420px;
        height: 1419px;
        left: 1000px;
        top: 417px;
    }
    .sec-2-p-e-1 {
        width: 218px;
        top: -21px;
        right: -50px;
    }
    .sec-2-p-e-2 {
        width: 212px;
        left: 750px;
        top: 300px;
    }
}

/* lg */
@media screen and (min-width: 1024px) {
}

/* xl */
@media screen and (min-width: 1280px) {
}

/* 2xl */
@media screen and (min-width: 1536px) {
    .sec-2-p-e-1 {
        top: -21px;
        right: -50px;
    }
    .sec-2-p-e-2 {
        left: 1067px;
        top: 428px;
    }
    .sec-2-bg-gradient {
        left: 1561px;
        top: 417px;
    }
}
